@import 'global';

.call_to_action {
	
	@include courier;
	
	margin-top: 0px;
	font-size: 30px;
	vertical-align: left;
	

	
	.button {
		padding-top: 8px;
		padding-bottom: 10px;
		padding-left:20px;
		padding-right:20px;
		background: $brown;
		color: white;
		
		&.hover {	background: $green;}
		&.active { }
	}
	
	.after_button {
		color: $brown;
		margin-left:-10px;
	}
	
}