<ol class="nav">
	<li><%= link_to 'PTConsultants', root_path %></li>
	<li><%= link_to 'Team', team_path %></li>
	<li><%= link_to 'Service', service_path %></li>
	<li><%= link_to 'Contact', contact_path %></li>
</ol>

<h1>PTConsultants</h1>