<%= render 'nav', :locals => { :page => 'contact'} %>

<div class="paragraph grid_24" id="bottom">
	<h1 class="title alpha grid_24"> 
		<p>Say Hello!</p>
	</h1>
	<h3 class="description alpha grid_14 suffix_10" id="">
		<p>
			Questions, Comments, Suggestions?
		</p>
		<p>
			We're all ears!
		</p>
		<br>
		<p>
			We're trying to make learning web as awesome for people as possible so any feedback at all will help!
		</p>
		<br>
		<p>
			Email us <a href="#" class="gmail" onclick="document.getElementById('email').innerHTML = 'ude.nnepu.saes@gnuelnoj'.split('').reverse().join('') ;" id="LinkToEmail">
			here</a>
		</p>
		<span id="email"></span>
	</h3>
	
</div>
