<%= render 'nav', :locals => { :page => 'contact'} %>

<div class="grid_24" id="service">
	
	<div class="logo grid_24" id="contact_logo">
		<h1> 
			 <div id="square">
				<div id="abbreviation">Le<span id="apostrophe">t'<span>s</div>
			</div>
			<div id="remaining_words">
				Chat!
			</div>
		</h1>
	</div>

	<div class="grid_24" id="contact">
		
		<div class="bullet grid_14 suffix_10">
			<h2 class="title">
				Drop Us An Email
			</h2>
			<p class="description">
				In less than 200 words, tell us who you are, what you're doing,
				and how specifically you think we can help. Grab our email 
				<!-- http://hivelogic.com/enkoder/index.php
				<a
					href="#"
					onclick="document.getElementById('email').innerHTML = '<br /><br />'+'moc.gnitlusnoctp@tcatnoc'.split('').reverse().join('') ;"
					id="email_link">
						here
				</a> -->
				<script type="text/javascript">
					//<![CDATA[
					<!--
					var x="function f(x){var i,o=\"\",ol=x.length,l=ol;while(x.charCodeAt(l/13)!" +
					"=34){try{x+=x;l+=l;}catch(e){}}for(i=l-1;i>=0;i--){o+=x.charAt(i);}return o" +
					".substr(0,ol);}f(\")601,\\\"YQ[v|c=tf-400\\\\#n\\\\!010\\\\'610\\\\?410\\\\" +
					"=220\\\\(>.\\\"\\\\=420\\\\3230\\\\1030\\\\7630\\\\5430\\\\KbS`If700\\\\230" +
					"\\\\k][]_m]YNCH610\\\\w720\\\\MASzQxW~U|kBs@iF;D,6<34:771\\\\y`d#%#ozzbp`v-" +
					"+&'Vt\\\\520\\\\720\\\\n\\\\n\\\\VP520\\\\230\\\\230\\\\700\\\\320\\\\220\\" +
					"\\400\\\\/630\\\\130\\\\710\\\\400\\\\400\\\\230\\\\530\\\\310\\\\220\\\\41" +
					"0\\\\n\\\\400\\\\L200\\\\710\\\\2yv{euy*5jk{s 3lhnpl700\\\\700\\\\530\\\\00" +
					"0\\\\5#+**lhg8:3<5hf)500\\\\2010\\\\=&\\\"\\\\+ (600\\\\6$'120\\\\JSYVOZWS4" +
					"20\\\\it\\\\XQX\\\\\\\\L@BXw^u\\\\\\\\{RyP771\\\\L}RC<A?9F$~rd}`OfMdSzQxWdU" +
					"z[g9p_v]t\\\"\\\\t\\\\ YR720\\\\420\\\\220\\\\200\\\\430\\\\600\\\\400\\\\\\"+
					"\\\\\\500\\\\630\\\\n\\\\300\\\\030\\\\710\\\\400\\\\610\\\\\\\"(f};o nrute" +
					"r};))++y(^)i(tAedoCrahc.x(edoCrahCmorf.gnirtS=+o;721=%y;i=+y)601==i(fi{)++i" +
					";l<i;0=i(rof;htgnel.x=l,\\\"\\\"=o,i rav{)y,x(f noitcnuf\")"                 ;
					while(x=eval(x));
					//-->
					//]]>
				</script>
				.
				
				<span id="email"></span>
			</p>
		</div>	
		
		
	</div>
</div>