<%= render 'nav', :locals => { :page => 'home'} %>
<div class="grid_24" id="home">
	
	<div class="logo grid_24" id="home_logo">
		<h1> 
			<div id="square">
				<div id="abbreviation">PT</div>
			</div>
			<div id="remaining_words">
				Consulting
			</div>
		</h1>
	</div>

	<div class="grid_24" id="bottom_row">
		
		<div class="col alpha grid_8">
			<h2 class="heading">
				what we do
			</h2>
			<p class="description grid_8">
				We will help figure out what technical tools 
				that you need to get the job done.
			</p>
		</div>
		
		<div class="col prefix_2 grid_8 suffix_6 omega">
			<h2 class="heading">
				who we are
			</h2>
			<p class="description grid_8">
				We are experienced programmers who will be able
				to give you advice for your business.
			</p>
		</div>
		
	</div><!--#bottom_row -->
</div><!--#home-->
