<%= render 'nav', :locals => { :page => 'home'} %>
<div class="grid_24" id="home">

	<div class="paragraph alpha grid_24">
		<h1 class="title alpha grid_24" id=""> 
			<p>So you want to learn web programming?</p>
		</h1>
		
		<!-- use javascript to change "web programming" every 2 seconds to Ruby On Rails -->
		<h2 class="description alpha grid_14 suffix_10" id="">
			<p>
				You've come to the right place!
			</p>
			<p>
				With beginners in mind,	we start from the very basics.
			</p>
			</br>
			<p>
				The Hacker Trails is your guide 
				to the best resources on the Internet to learn web programming.
			</p>
			</br>
			<p>
				We also have classes where experienced students
				will help guide you through	the trail.
			</p>			
		</h2>
	</div>
				
	<div class="logo grid_24" id="home_logo">
		<a href="/class">
			<h1> 
				<div class="square">
					<div class="inner_text">Learn More</div>
				</div>

				<div class="remaining_words">
					about our 6pm November 10th Class!
				</div>
			</h1>
		</a>
	</div>

	<!-- <div class="grid_24" id="bottom_row">
		
		<div class="col alpha grid_7">
			<h2 class="heading">
				 why
			</h2>
			<p class="description ">
				The HackerTrails is designed for beginner_texts
				who are just starting 
			</p>
		</div>
		
		<div class="col prefix_1 grid_7 suffix_1">
			<h2 class="heading">
				we
				<span style="font-size:25px;
							color: rgb(120,120,120);">
							&hearts;</span> 
				beginner_texts!
			</h2>
			<p class="description">
				So you want to build a webapp,
				but you don't know where to start.
			</p>
		</div>
		
		<div class="col grid_7">
			<h2 class="heading">
				why
			</h2>
			<p class="description">
				We are experienced programmers who will be able
				to give you advice for your business.
			</p>
		</div> -->
		
	</div><!--#bottom_row -->
</div><!--#home-->
