<%= render 'nav' %>
<div id="home_container">
	
	
	
	
	
	
	
	
	
	
	
	
	<div id="home_logo">
		
		<div class="intro"><p>

		<a href="/about" title="About PennApps">PennApps</a> is a 48-hour <a href="http://en.wikipedia.org/wiki/Hackathon" title="Wikipedia article about hackathons">hackathon</a> where university students came together to build <a href="http://teams.2011f.pennapps.com/" title="PennApps Fall 2011 Teams">awesome things</a>. <a href="/about">Learn more &raquo;</a>

		</p></div><!--/.intro-->
		<div class="sign-up">

		<a href="http://teams.2011f.pennapps.com/">See the apps!</a>

		</div><!--/.sign-up-->
		
	</div>
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	<div id="home_bottom_row">
		<div class="home_bottom_cell">
			<h2>
				who we are
			</h2>
			<p>
				We are experienced programmers who will be able to give you advice for your business. <%= link_to 'Meet the Team', team_path %>
			</p>
		</div>
		<div class="home_bottom_cell">
			<h2>
				what we do
			</h2>
			<p>
				We will help figure out what technical tools that you need to get the job done. <%= link_to 'How We Can Help', service_path %>
			</p>
		</div>
	</div>
	
</div>
