<%= render 'nav', :locals => { :page => 'home'} %>



<div class="grid_24" id="home">

	<div class="paragraph alpha grid_24">
		<h1 class="title alpha grid_24" id=""> 
			<p>So you want to learn to code?</p>
		</h1>
		
		<!-- use javascript to change "web programming" every 2 seconds to Ruby On Rails -->
		<h2 class="description alpha grid_14 suffix_10" id="">
			<p>
				You've come to the right place!
			</p><p>
				With beginners in mind,	we start from the very basics.
			</p>
			</br>
			<p>
				The Hacker Trails is your guide 
				to the best resources on the Internet to learn web programming.
			</p>
			</br>
			<p>
				We also have classes where experienced students
				will help guide you through	the trail.
			</p>			
		</h2>
	</div>
	
  <div class="call_to_action grid_24">
  	<a href="#" class="button scrollToBottom">Learn More</a>
  </div>
  








	<div style="margin-top:1500px;">&nbsp;</div>
	
	
	
	
	
	
	
	
	<div class="paragraph alpha grid_24">    
    
    <h1 class="title alpha grid_24" id=""> 
      <p>1) Follow The Trail</p>
    </h1>
   <h3 class="description alpha grid_16 suffix_8" id="white_text">
      <p>
        The <%= link_to 'Trail', trail_path %> is your guide that
        systematically takes you to the best resources
        on the internet taking you from the very beginning basic
        HTML coding to much more advanced web programming, holding
        your hand throughout the process.
      </p>
    </h3>
    
    <div class="call_to_action grid_24">
    	<a href="/trail" class="button">Start</a>
    	<a href="/trail" class="after_button">the trail</a>
    </div>
      
    <h1 class="title alpha grid_24" id=""> 
      <p>2) Come to The Class</p>
    </h1>
     <h3 class="description white_text alpha grid_16 suffix_8" id="white_text">
        <p>
          Go to Penn or Live in the Philadelphia Area? 
        </p>
        <p>
          Come to the <%= link_to 'Class', class_path %> where
          we combine the best resources of the internet with the
          mentorship of experienced students who will help guide
          you through the learning process.
        </p>
      </h3>
      
      <div class="call_to_action grid_24">
      	<a href="/class" class="button">Signup</a>
      	<a href="/class" class="after_button">for the class</a>
      </div>
   
  </div>
	<div id="gradient"></div>
	<div id="solid"></div>	
    
	</div><!--#bottom_row -->
</div><!--#home-->
