<%= render 'nav', :locals => { :page => 'service'} %>

<div class="grid_24" id="service">
	
	<div class="logo grid_24" id="service_logo">
		<h1> 
			 <div id="square">
				<div id="abbreviation">The</div>
			</div>
			<div id="remaining_words">
				Goods
			</div>
		</h1>
	</div>

	<div class="grid_24" id="services">
		
		<div class="bullet grid_18 suffix_6">
			<h2 class="title">
				Technical Advice
			</h2>
			<p class="description">
				TA at University of Pennsylvania. Studied Computer Science at University of Pennsylvania Lives in Philadelphia, Pennsylvania Knows Russian, Hebrew, English From Donetsk, Ukraine. Born on September 14, 1986. TA at University 
			</p>
		</div>	
		
		<div class="bullet grid_18 suffix_6">
			<h2 class="title">
				Entrepreneurial Experiance
			</h2>
			<p class="description">
				Company Website Dan Shipper's Experience CEO Convenience Software Connections 48 connections Websites Company Website Dan Shipper's Experience CEO Convenience Software Computer Software industry Currently holds this position Dan Shipper's Additional Information Websites: Company Website
			</p>
		</div>
		
		<div class="bullet grid_18 suffix_6">
			<h2 class="title">
				Something Else
			</h2>
			<p class="description">
				My name is Jonathan Leung and I love making things! I am part Engineer, Composer, and Entrepreneur. My goal in life is to make people fundamentally happier. Naïve? Probably. Will I still try? Definitely. I am learning how to make things at The University of 
			</p>
		</div>
		
	</div>
</div>