<%= render 'nav', :locals => { :page => 'class'} %>

<div class="paragraph alpha grid_24">
	<h1 class="title alpha grid_24" id=""> 
		<p>First Class: HTML, CSS, &amp; Javascript</p>
	</h1>
	<h2 class="subtitle grid_24" id="">
		<p><u>Thursday</u> November 10th at 6pm - 9pm. Loc TBA</p>
	</h2>
	<h3 class="description grid_16 suffix_8" id="">
		<p>
			Do you want to learn how to design a website
			with HTML, CSS, &amp;Javascript from scratch?
			Now's your chance!
		</p>
		<br>
		<p>
			You will learn by following along so please bring your <strong>laptop</strong>, its <strong>charger</strong>, and a pair of <strong>headphones</strong>.
		</p>
		<br>
		<p>
			Do you like <strong>Cookies</strong>? We have those too!
		</p>
		<br>
		<p>
<strong>			<a href="https://www.facebook.com/event.php?eid=122060137902712" target="_blank"> RSVP Here</a> </strong>
		</p>
		<br>
		
		<p>
			Also, please install the following before you come:
		</p>
		<ul>
			<li>
				<a href="http://www.mozilla.org/en-US/firefox/new/" target="_blank"> Mozilla Firefox</a> 
			</li>
			<li> 
				<a href="https://addons.mozilla.org/en-US/firefox/addon/firebug/?src=search" target="_blank"> Firebug</a>, a Firefox extension.
			</li>
			<li>
				A Text Editor for code
			</li>	
			<ul >
				<li>
					PC: &nbsp; <a href="http://www.barebones.com/products/textwrangler/" target="_blank"> Notepad++ </a> (Click "Notepad++ v5.9.6 Installer")
				</li>

				<li>
					Mac <a href="http://www.barebones.com/products/textwrangler/" target="_blank"> TextWrangler </a>
					or the better <a href="http://macromates.com/" target="_blank"> TextMate </a>
					(theres a 30 day free trial)
				</li>
			
			</ul>
		</ul>
		
		Want to get started now? Lets start the <a href="/trail"> trail </a>!
	</h3>
	
</div>

<div class="paragraph grid_24" id="bottom">
	<h1 class="title alpha grid_24"> 
		<p>Can't make the class?</p>
	</h1>
	<h3 class="description alpha grid_14 suffix_10" id="">
		<p>
			No worries!
		</p>
		<br>
		<p>
			Just follow the <a href="/trail"> trail </a> yourself and come to the next class where we will catch you up on all the material.
		</p>
	</h3>
	
</div>

