<%= render 'nav', :locals => { :page => 'class'} %>

<div class="paragraph alpha grid_24">
	<h1 class="title alpha grid_24" id=""> 
		<p>Second Class: Build Your Own Website!</p>
	</h1>
	<h2 class="subtitle grid_24" id="">
		<p>Saturday December 3rd, 11am - 2pm</p>
	</h2>
	<h3 class="description grid_16 suffix_8" id="">
		<p>
			A couple weeks ago we had a our first HackerTrails on the basics of building a website and we were very happy with the turnout of some 160+ people!
		</p>
		<br>
		<p>
			You will learn by following along so please bring your <strong>laptop</strong>, its <strong>charger</strong>, and a pair of <strong>headphones</strong>.
		</p>
		<br>
		<p>
			Missed the last class? No Worries! All our videos / material are online, just follow the directions <a href="http://git.to/email1" target="_blank">here</a>.
		</p>
		<br>

		<div class="logo" id="rsvp">
			<a href="https://www.facebook.com/events/283097015066438/?ref=ts">
				<h1> 
					<div class="square">
						<div class="inner_text">RSVP Now</div>
					</div>
				</h1>
			</a>
		</div>
		<p>
			Come in with questions from the <a href="http://git.to/homework1" target="_blank">homework</a> and finish making your own personal webpage in class and we'll show you how to hook it up to yourname.com!
		</p>
	  <!-- <ul>
	     <li>
	       <a href="http://www.mozilla.org/en-US/firefox/new/" target="_blank"> Mozilla Firefox</a> 
	     </li>
	     <li> 
	       <a href="https://addons.mozilla.org/en-US/firefox/addon/firebug/?src=search" target="_blank"> Firebug</a>, a Firefox extension.
	     </li>
	     <li>
	       A Text Editor for code
	     </li> 
	     <ul >
	       <li>
	         PC: &nbsp; <a href="http://www.barebones.com/products/textwrangler/" target="_blank"> Notepad++ </a> (Click "Notepad++ v5.9.6 Installer")
	       </li>

	       <li>
	         Mac <a href="http://www.barebones.com/products/textwrangler/" target="_blank"> TextWrangler </a>
	         or the better <a href="http://macromates.com/" target="_blank"> TextMate </a>
	         (theres a 30 day free trial)
	       </li>
	     
	     </ul>
	   </ul> -->
	</h3>
	
</div>

<div class="paragraph grid_24" id="bottom">
	<h1 class="title alpha grid_24"> 
		<p>Can't make the class?</p>
	</h1>
	<h3 class="description alpha grid_14 suffix_10" id="">
		<p>
			No worries!
		</p>
		<br>
		<p>
			Just follow the <a href="/trail"> trail </a> yourself after Saturday and come to the next class where we will catch you up on all the material.
		</p>
	</h3>
	
</div>

