<%= render 'nav', :locals => { :page => 'trail'} %>

<div class="grid_24" id="trail">

<iframe src="https://docs.google.com/document/d/12_y_SsMjv4PUXPpyx4yJ22EbJldVw2fT3ZHpEZ2T4g0/edit" width="960" height="3000" scrolling="no">
  <p>Your browser does not support iframes.</p>
</iframe>
	
</div>
