<%= render 'nav', :locals => { :page => 'about'} %>

<div class="paragraph grid_24">
	<h1 class="title alpha grid_24"> 
		<p>So what's this all about anyway?</p>
	</h1>
	<h3 class="description alpha grid_14 suffix_10" id="">
		<p>
			When learning web development, there are many good resources on the internet but there are also many bad. The Hacker trails aims to be a comprehensive guide for beginner_texts that will point you to the best resources on the internet and link them together in a logical chronological order. 
		</p>
		<br>
		<p>
The Hacker Trails will guide you through basic web development to building full fledged webapps.		</p>
		<br>
		<p>
			The class component to The Hacker Trails acts as a supplement to the Trails where experienced TAs will be able answer questions about the material you are learning while you learn it.
		</p>
	</h3>
	
</div>

<div class="paragraph grid_24">
	<h1 class="title alpha grid_24"> 
		<p>Where’s the speaker?</p>
	</h1>
	<h3 class="description alpha grid_14 suffix_10" id="">
		<p>
			The hacker trails is partially a response to the format of a “tech talk” in which a speaker gives a talk on how to do thing X.
			</p>
			<br>
			<p>Although people try to code along with the talk, it is very easy for people to get lost and not be able to catch up again. Also if someone has a question, there isn’t really an opportunity to ask it.
			</p>	
			<br>
			<p>In our classes, students in groups of two use some of the most reputable materials on the internet as they are able to pause and rewind the video and ask each other questions when they don’t understand. TAs will also be there to answer all your questions!
		</p>
	
</div>

<div class="paragraph grid_24" id="bottom">
	<h1 class="title alpha grid_24"> 
		<p>Questions, Comments, Suggestions?</p>
	</h1>
	<h3 class="description alpha grid_14 suffix_10" id="">
		<p>
			We’re all ears!
		</p>
		<br>
		<p>
			We're trying to make learning web as awesome for people as possible so any feedback at all will help!
		</p><br>
		<p>
			If its about material on the trails, please add a comment to the Google Doc. 
			Otherwise  
			<a href="#1" class="gmail" onclick="document.getElementById('email').innerHTML = 'ude.nnepu.saes@gnuelnoj'.split('').reverse().join('') ;" id="LinkToEmail">
				drop us a line!</a>
			
		</p><br>
		<span id="email"></span>
		
	
</div>
