<h1><strong style="background-color: green; color: white; padding: 5px;">Learn More</strong> about our 6pm November 10th Class!</h1>

Get rid of those <h3> tags wrapping all your text — replace them with <div>s!

Sign Up To Be A TA

Right Click to Comment

	5:12 PM (1 hour ago)
Right click anywhere to add comments Do you want to be a TA, Scott Biddle Sen...

Jonathan Leung
5:41 PM (1 hour ago)

to me 
More Visible Signup Button

Popup box for email
Paragraph Spacing

Don't wrap with h3

Button use inline span
