/* Global Global Global Global Global Global Global */

body {
	background: rgb(255,255,245);
}

/* Navigation Navigation Navigation Navigation Navigation */

#nav { margin-top: 30px; }

#nav ol { 
	margin:0px;
	padding:0px;
	list-style: none;
}

#nav li a {
	display: block;
	padding-top: 14px;
	padding-bottom: 14px;
	text-align: left;
	padding-top:18px;	
}

#nav li.first a {
	text-align: left;
	padding-top:0px;		
}

/* Home Home Home Home Home Home Home Home Home Home */

.paragraph .title {
	margin-top:60px;
}

.paragraph .subtitle {
	margin-top:5px;
}

.paragraph .description {
	margin-top:20px;
	font-weight:normal;
}

.paragraph#bottom {
	margin-bottom:100px;
}

.logo .square {
	width: 220px;
	height: 50px;
	background: rgb(122,113,0);
	display:inline-block;

}

.logo .inner_text {
	width: 100%;
	height: 100%;
	vertical-align: middle;
	padding-top: 10px;
	text-align: center;
}

.logo .remaining_words {
	display:inline-block;
	margin-left:10px;
}

#home_logo {
	margin-top:40px;
	margin-bottom:110px;
}

#rsvp {
	margin-top:0px;
	margin-bottom:15px;
}

#bottom_row .heading {
	margin-bottom: 10px;
}



