/*
 *Navigation Navigation Navigation Navigation Navigation 
 */
#nav a, #bottom_row .heading, #bios .text .name {
	font-family: 'Quicksand';
	letter-spacing: -3px;
	font-size: 36px;
}

#nav li {
	color: rgb(64,64,64);
}

a {
	text-decoration: none;
}

#nav a:link, a:visited {
	color: rgb(150,150,150);
}

#nav #active a{
	color: rgb(64,64,64);
}

#nav a:hover, a:active {
	color: rgb(207,87,85);
}

/*
 *Home Home Home Home Home Home Home Home Home Home 
 */
.logo #pt, #consultants {
	font-family: 'Courier';
	font-weight: normal;
	font-size: 100px;
	letter-spacing:-8px;
}
.logo #pt {
	color: white;
	letter-spacing:-1px;
}
.logo #consultants {
	font-size: 65px;
	color: rgb(207,87,85);
	font-size: 100px;
}

#bottom_row .heading, #bios .name {
	font-weight: normal;	
	color: rgb(64,64,64);
}

#bottom_row .description, #bios .text {
	font-family: 'Quicksand';
	letter-spacing: -1px;
	font-size: 18px;
	
	color: rgb(120,120,120);
}

/*
 *Team Bios Team Bios Team Bios Team Bios Team Bios Team Bios Team Bios
 */

#bios .links a{
	color: rgb(207,87,85);
	font-family: 'Quicksand';
	letter-spacing: -1px;
	font-size: 18px;
}

#bios .links a:hover, a:active {
	color: rgb(207,87,85);
}

#bios .text {
	line-height: 1.5;
}

#bios .photo {
	text-align: center;
}