/*
 *Globals  Globals  Globals  Globals  Globals  Globals  
 */

a {
	text-decoration: none;
}

/*
 *Navigation Navigation Navigation Navigation Navigation 
 */

#nav a {
	font-family: 'Quicksand';
	letter-spacing: -3px;
	font-size: 36px;
}

#nav a:link, a:visited {
	color: rgb(150,150,150);
}

#nav #active a{
	color: rgb(64,64,64);
}

#nav a:hover, a:active {
	color: rgb(207,87,85);
}

/*
 *Home Home Home Home Home Home Home Home Home Home 
 */

.logo #abbreviation, #remaining_words {
	font-family: 'Courier';
	font-weight: normal;
	font-size: 100px;
	letter-spacing:-8px;
}
.logo #abbreviation {
	color: white;
	letter-spacing:-1px;
}
.logo #remaining_words {
	font-size: 65px;
	color: rgb(207,87,85);
	font-size: 100px;
}

.logo #abbreviation #apostrophe {
	letter-spacing:-20px;
}

#bottom_row .heading {
	font-family: 'Quicksand';
	letter-spacing: -3px;
	font-size: 36px;
}

#bottom_row .heading {
	font-weight: normal;	
	color: rgb(64,64,64);
}

#bottom_row .description {
	font-family: 'Quicksand';
	letter-spacing: -1px;
	font-size: 18px;
	
	color: rgb(120,120,120);
}

/*
 *Team Bios Team Bios Team Bios Team Bios Team Bios Team Bios Team Bios
 */

#bios .name {
	font-weight: normal;	
	color: rgb(64,64,64);
}

#bios .text {
	font-family: 'Quicksand';
	letter-spacing: -1px;
	font-size: 18px;
	
	color: rgb(120,120,120);
}


#bios .text .name {
	font-family: 'Quicksand';
	letter-spacing: -3px;
	font-size: 52px;
}

#bios .links a{
	color: rgb(207,87,85);
	font-family: 'Quicksand';
	letter-spacing: -1px;
	font-size: 30px;
}

#bios .links a:hover, a:active {
	color: rgb(207,87,85);
}

#bios .text {
	line-height: 1.5;
}

#bios .photo {
	text-align: center;
}

/*
 *Services Services Services Services Services Services Services 
 */

#services .title {
	font-weight: normal;	
	color: rgb(64,64,64);
}

#services .bullet {
	font-family: 'Quicksand';
	letter-spacing: -1px;
	font-size: 18px;

	color: rgb(120,120,120);
}

#services .bullet .title {
	font-family: 'Quicksand';
	letter-spacing: -3px;
	font-size: 40px;
}

#services .links a{
	color: rgb(207,87,85);
	font-family: 'Quicksand';
	letter-spacing: -1px;
	font-size: 30px;
}

#services .links a:hover, a:active {
	color: rgb(207,87,85);
}

#services .bullet {
	line-height: 1.5;
}

#services .photo {
	text-align: center;
} 

/*
 *Contact  Contact  Contact  Contact  Contact  Contact  
 */
#contact .title {
	font-weight: normal;	
	color: rgb(64,64,64);
}

#contact .bullet {
	font-family: 'Quicksand';
	letter-spacing: -1px;
	font-size: 18px;

	color: rgb(120,120,120);
}

#contact .bullet .title {
	font-family: 'Quicksand';
	letter-spacing: -3px;
	font-size: 40px;
}

#contact .bullet #email_link{
	color: rgb(207,87,85);
	font-family: 'Quicksand';
	letter-spacing: -1px;
	font-size: 18px;
}

#contact .links a:hover, a:active {
	color: rgb(207,87,85);
}

#contact .bullet {
	line-height: 1.5;
}