/* Globals  Globals  Globals  Globals  Globals  Globals */

a {
	text-decoration: none;
}

/* Navigation Navigation Navigation Navigation Navigation */

#nav a {
	font-family: 'Quicksand';
	letter-spacing: -1px;
	font-size: 25px;
}

#nav a:link, a:visited {
	color: rgb(150,150,150);
}

#nav #active a{
	color: rgb(77,74,38);
}

#nav a:hover, a:active {
	color: rgb(128,173,38);
}

#nav #trails {
	font-size: 42px;
	letter-spacing: -3px;
	text-align: left;
	
}

#nave #beta {
	
}

/* Home Home Home Home Home Home Home Home Home Home */

.paragraph .title{
	font-family: 'Courier';
	font-weight: normal;
	font-size: 47px;
	letter-spacing:-3px;
	color: rgb(128,173,38);
}

.paragraph .subtitle {
	font-family: 'Courier';
	font-weight: normal;
	font-size: 30px;
	letter-spacing:-3px;
	color: rgb(120,120,120);
}

.paragraph .description {
	font-family: 'Quicksand';
	letter-spacing: -1px;
	font-size: 22px;
	font-weight: 400;
	color: rgb(120,120,120);
}

.paragraph .description a {
	color:rgb(128,173,38);
}

.logo .inner_text, .logo .remaining_words {
	font-family: 'Courier';
	font-weight: normal;
	font-size: 30px;
	letter-spacing:0px;
}
.logo .inner_text {
	color: white;
	letter-spacing:0px;	
}
.logo .remaining_words {
	color: rgb(122,113,0);
	font-size: 30px;
}

#bottom_row .heading {
	font-family: 'Quicksand';
	letter-spacing: -3px;
	font-size: 36px;
}

#bottom_row .heading {
	font-weight: normal;	
	color: rgb(77,74,38);
}

#bottom_row .description {
	font-family: 'Quicksand';
	letter-spacing: -1px;
	font-size: 18px;
	
	color: rgb(120,120,120);
}

#bottom_padding {
	padding:50px;
	margin:50px;
}

#email {

}